/* *************** Version Mobile ************* */

#containerCardUser {
  display: grid;
  grid-template-columns: repeat(1, 6fr);
  grid-gap: 1rem;
}

#containerCardUser img {
  width: 100%;
  border-radius: 2rem;
}

.elmCardUser {
  background-color: #ececec;
  margin-top: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.elmCardUser p {
  margin-top: 0.5rem;
}

.profileLink {
  text-decoration: none;
}

.nameLink {
  text-decoration: none;
}

.nameLink:hover h3 {
  color: #ffff;
  background-color: var(--blue-green-sky);
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.3rem;
  padding: 0 0.2rem;
}

/* *************** Version Desktop ************* */

@media (min-width: 1291px) {
  #containerCardUser {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 1rem;
    margin-top: 2rem;
  }
}
