#tableBoard {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem
}

.tableBdd {
    max-width: 100vh;
    max-height: 100%;
    overflow: auto;
}


#rightContainer thead {
    background-color: var(--blue-green-sky);
    color: #fff;
}

#rightContainer tbody td {
    padding: 0rem 1rem;
}