/* ----------------------------------- CONTENT --------------------------------- */

/* *************** Version Mobile ************* */

/* ------------- Profil ---------------- */

#containerProfil {
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

#containerProfil .headProfil {
    display: grid;
    grid-template-columns: repeat(1, fr);
    margin-bottom: 1rem;
}

.headProfil button {
    margin-left: 0.5rem;
}

.headProfil .pathButton {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--yelow-or);
    color: #505050;
    border: none;
    border-radius: 3rem;
}

.headProfil .delButton {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #c52525;
    color: #fff;
    border: none;
    border-radius: 3rem;
    margin-top: 0.5rem;
}

.bodyProfil {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 0.2rem;
}

.bodyProfil img {
    width: 100%;
}

.bodyProfil h3 {
    margin-bottom: 1rem;
}

.bodyProfil span {
    font-weight: 700;
    color: var(--blue-green-sky);
}

.bodyProfil .bioDescription {
    margin: 1.5rem 0;
}

.bodyProfil .intButton {
    background-color: var(--blue-green-sky);
    color: #fff;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    font-style: italic;
}

.bodyProfil button {
    margin-left: 0.5rem;
}

.bodyProfil .contentInterest {
    display: flex;
    padding-top: 1rem;
}

.bioDescription {
    text-align: justify;
}

.bodyProfil .buttonOnWhite {
    margin: 0 auto;
    display: block;
    margin-top: 3rem;
}

/* ------------- Event ---------------- */

#fullContainerProfil #eventsCreated {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
}

#fullContainerProfil #eventsParticiped {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
}

#fullContainerProfil #eventsPassed {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
}


/* *************** Version Desktop ************* */


@media (min-width: 1291px) {

#containerProfil .headProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headProfil .pathButton {
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
}
    
.headProfil .delButton {
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    }

#containerProfil {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

#containerProfil .widthProfil {
    width: 1280px;
    margin: 0 auto;
}

.bodyProfil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}


/* ------------- Event ---------------- */


#fullContainerProfil #eventsCreated {
    width: 1280px;
}

#fullContainerProfil #eventsParticiped {
    width: 1280px;

}

#fullContainerProfil #eventsPassed {
    width: 1280px;
}

}