/* ----------------------------------- CONTENT --------------------------------- */

/* *************** Version Mobile ************* */

/* ------------- Pofil ---------------- */

#containerProfil {
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

#containerProfil .headProfil {
    display: grid;
    grid-template-columns: repeat(1, fr);
    margin-bottom: 1rem;
}

.headProfil button {
    margin-left: 0.5rem;
}

.headProfil .pathButton {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    background-color: var(--yelow-or);
    border: none;
    border-radius: 3rem;
}

.headProfil .delButton {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    background-color: rgb(39, 114, 253);
    color: #fff;
    border: none;
    border-radius: 3rem;
    margin-top: 0.5rem;
}

.bodyProfil {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 0.2rem;
}

.bodyProfil img {
    width: 100%;
}

.bodyProfil .intButton {
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    background-color: rgb(38, 143, 94);
    color: #fff;
    border: none;
    border-radius: 3rem;
}

.bodyProfil button {
    margin-left: 0.5rem;
}

.bodyProfil .contentInterest {
    display: flex;
    padding-top: 1rem;
}

.bioDescription {
    text-align: justify;
}

.bodyProfil .buttonOnWhite {
    margin: 0 auto;
    display: block;
    margin-top: 3rem;
}

/* ------------- Event ---------------- */

#fullContainerProfil #eventCreate {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
}

#fullContainerProfil #eventParticped {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
}

#fullContainerProfil #eventBefore {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
}


/* *************** Version Desktop ************* */


@media (min-width: 1291px) {

#containerProfil .headProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headProfil .pathButton {
    padding: 0.6rem 1rem;
    font-size: 1rem;
}
    
.headProfil .delButton {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    }

#containerProfil {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

#containerProfil .widthProfil {
    width: 1280px;
    margin: 0 auto;
}

.bodyProfil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}


/* ------------- Event ---------------- */


#fullContainerProfil #eventCreate {
    width: 1280px;
}

#fullContainerProfil #eventParticped {
    width: 1280px;

}

#fullContainerProfil #eventBefore {
    width: 1280px;
}

}