.modal {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 3rem 5rem;
    max-height: 90vh;
    width: 90vw;
    border-radius: 20px;
    position: relative;
    overflow-y: auto;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #c52525;
}

@media (min-width: 1291px) {

    .modal-content {
        width: 40vw;
    }
}