/* ----------------------------------- CONTENT --------------------------------- */

/* *************** Version Mobile ************* */

/* ------------- KEY FIGURES ---------------- */

#container-content {
    width: 100%;
    margin: 0 auto;
}

#container-content .keyFigure {
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem 0rem;
}

#container-content .keyFigure h2 {
    text-align: center;
}

#container-content .blcFigure {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

#container-content .elemFigure {
    text-align: center;
    padding: 0.5rem;
}

#container-content .blcFigure h4 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

/* ------------- ABOUT ---------------- */

#about {
    width: 95%;
    margin: 0 auto;
}

#about img {
    width: 100%;
}

.containerAboutOne {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    text-align: left;
    margin-top: 1rem;
}

.containerAboutTwo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.containerAboutOne p {
    text-align: justify;
}

.containerAboutTwo p {
    text-align: justify;
}

@media (min-width: 1291px) {
    /* ------------- KEY FIGURES ---------------- */

    #container-content .keyFigure {
        margin: 0 auto;
        background-color: #fff;
        padding: 3rem 0rem;
    }

    #container-content .keyFigure h2 {
        text-align: center;
    }

    #container-content .blcFigure {
        width: 1290px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        margin-top: 3rem;
    }

    #container-content .blcFigure h4 {
        margin-top: 0.8rem;
        margin-bottom: 0.2rem;
    }

    /* ------------- ABOUT ---------------- */

    #about {
        width: 1280px;
        margin: 0 auto;
        padding: 3rem 0rem;
    }

    .containerAboutOne {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        text-align: left;
        margin-top: 3rem;
    }

    .containerAboutTwo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        text-align: right;
        margin-top: 7rem;
        margin-bottom: 3rem;
    }

    .containerAboutOne p {
        text-align: justify;
    }

    .containerAboutTwo p {
        text-align: justify;
    }
}
