/* -----------------Version Mobile ----------------- */

#containerHead {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;
    align-items: center;
    padding: 3rem 0rem;
  }

#containerHead img {
    width: 100%;
  }

  .one {
    grid-column: 1 / 8;
    grid-row: 2 / 2;
    text-align: center;
}

.two {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.three {
    grid-column: 4 / 8;
}


/* -----------------Version Desktop ----------------- */

@media (min-width: 750px) {

#containerHead {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;
    align-items: center;
    padding: 3rem 0rem;
  }
  
  #containerHead img {
    width: 100%;
  }
  
  .one {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
  }
  
  .two {
      grid-column: 4 / 6;
      grid-row: 1 / 2;
  }
  
  .three {
      grid-column: 6 / 8;
  }
}