#testimonials {
    width: 1280px;
    margin: 0 auto;
    background-color: var(--blue-green-sky);
    border-radius: 2rem;
    padding: 3rem 0rem;
    text-align: center;
}

#testimonials .containerTesti {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
    color: #fff;
}

#testimonials h2 {
    color: #fff;
}

#testimonials .profil h4 {
    padding: 0rem;
    color: #fff;
}