/* -----------------Version Mobile ----------------- */

#testimonials {
    width: 95%;
    margin: 0 auto;
    background-color: var(--blue-green-sky);
    border-radius: 2rem;
    padding: 3rem 0rem;
    text-align: center;
}

#testimonials img {
    width: 60%;
}

#testimonials .containerTesti {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 0 1rem;
    margin-top: 3rem;
    color: #fff;
}

#testimonials h2 {
    color: #fff;
}

#testimonials h4 {
    color: #fff;
    padding: 0rem;
}

#testimonials span {
    font-style: italic;
}

/* -----------------Version Desktop ----------------- */

@media (min-width: 1291px) {

#testimonials {
    width: 1280px;
    margin: 0 auto;
    background-color: var(--blue-green-sky);
    border-radius: 2rem;
    padding: 3rem 0rem;
    text-align: center;
}

#testimonials .containerTesti {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    color: #fff;
}

#testimonials .profil h4 {
    padding: 0rem;
    color: #fff;
}

}