@use './reset';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color Primaray */

:root {
  --text-color-base: #2F3E46;
  --blue-green-sky: #0FA3B1;
  --green-military: #A3B18A;
  --yelow-or: #F0B64A;
  --white-body: #F6F4EF;
}

/* Gradiant color blue + yellow */

.gradiantBase {
  background: #0FA3B1;
  background: linear-gradient(84deg,rgba(15, 163, 177, 1) 0%, rgba(163, 177, 138, 1) 49%, rgba(240, 182, 74, 1) 100%);
}

/* Configuration body */

:root {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: var(--text-color-base);
  background: var(--white-body);
}

/* Configutation title */

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.26rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.buttonOnWhite {
  background-color: var(--blue-green-sky);
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buttonOnBlack {
  background-color: var(--yelow-or);
  color: black;
  font-size: 1rem;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link {
  color: #fff;
  text-decoration: none;
}

/* End configuration */